
   @import url('file:///home/zlin/.cache/wal/colors.css');

:root {
    --bg: var(--background);
    --fg: var(--foreground);
    --blue: var(--color4);
    
}

body {
    font-family: 'Iosevka', monospace;
    background-color: var(--bg);
    color: var(--fg);
    margin: auto;
    width: 50%;
}

.content {
    margin-top: 22%;
}

#time {
    font-size: 100px;
    text-align: center;
}

#date {
    font-size: 30px;
    text-align: center;
}

input {
    background-color: var(--bg);
    border: none;
    font-size: 50px;
    color: var(--fg);
    border-bottom: 3px solid var(--fg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} input:focus {
    border-color: var(--blue);
    outline: none;
}

#weather {
    position: absolute;
    top: 15px;
    right: 15px;
}

a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    margin-right: 33%;
    display: inline-block;
    padding: 2px 0px;
}

a::before {
    content: "> ";
}

#links {
    margin-top: 25px;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
}

.list {
    background-color: var(--bg);
    border-radius: 15px;
    margin: 10px;
    flex: 1 1 0%;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

#st {
    margin: 0px;
}
